@model IEnumerable<ProductManagementSystem.Models.Product>

@{
    ViewData["Title"] = "Produktübersicht";
}

<div class="container mt-3">
    <h2 class="mb-4">@ViewData["Title"]</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

</div>


    <form method="get" action="@Url.Action("Index", "Products")" class="form-inline" id="searchForm">
        <div class="input-group">
            <div style="width: 150px;">
                <select class="form-control form-control-sm" name="searchOption">
                    <option value="Name">Name</option>
                    <option value="ID">ID</option>
                </select>
            </div>
            <input type="text" class="form-control form-control-sm" name="searchString" placeholder="Suchbegriff eingeben">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-sm">Suche</button>
            </div>
        </div>
    </form>
    <br />
    <div id="productsList">
        <!-- Beginn des Bereichs für die Produktliste -->
        @await Html.PartialAsync("~/Views/Products/_ProductsList.cshtml", Model)
    </div> <!-- Ende des Bereichs für die Produktliste -->

    <a asp-controller="Products" asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus-circle"></i> Produkt hinzufügen
    </a>
</div>

<script>
    $(document).ready(function () {
        $("#searchForm").submit(function (event) {
            event.preventDefault();
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "GET",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    $("#productsList").html(data);
                }
                          error: function (xhr, status, error) {
                    console.error("Ein Fehler ist aufgetreten: " + error);
                });
        });
    });
</script>
